<h1>
	Here are my t-shirts!
</h1>

<form action= "/search" action="post">
	<input name="q" type="text"/>
	<button>Search</button>
</form>

<p>
	<%= link_to 'create new', tshirts_path %>
</p>

<% @shirts.each do |shirt| %>
	<%= render partial: 'shirt', locals: { a_shirt: shirt } %>
<% end %>
