<!DOCTYPE html>
<html>
<head>
  <title>Tshirts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

Error: <% flash[:error] if flash[:error] %><br>
Info: <% flash[:info] if flash[:info] %>
	<div id="Body">
		<%= yield %>
	</div>
</body>
</html>
